body {
    background-color: #808080;
    max-height: 800px;
}

div {
    height: inherit;
}

h2 {
    text-align: center;
}

table {
    cursor: pointer;
    align-self: center;
    text-align: center;
    border-spacing: 0;
    width: 50%;
    height: 100%;
    max-height: inherit;
}

.cells {
    border: solid;
    border-width: 2px;
    padding: 0;
    margin: 0;
}


#displayResult {
    font-size: 36px;
    background-color: green;
}

.rows {
    width: 50%;
    align-items: center;
    align-content: center;
}
