<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="8080"/>
    <add key="host" value="127.0.0.1"/>
    <add key="path" value="D:\startbootstrap-sb-admin-1.0.3"/>
    <add key="file-handler" value="html,txt,css,js,jpg,png,woff2,woff,ttf,ico"/>
  </appSettings>
</configuration>